body {
    background-size: 100%;
    /* background-image: url("../images/logo-centrado.png");
    background-size: contain; */
}

.navbar .navbar-brand {
    background-image: url("../images/logo_32x32.png");
    background-repeat: no-repeat;
    width: 35px;
    height: 40px;
}

.navbar {
    background-color: #3e3a5f;
    padding-bottom: 0px;
}

.navbar,
.navbar .navbar-collapse,
.navbar .navbar-collapse .navbar-nav,
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    height: 45px !important;
    z-index: 999;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    padding-top: 12px;
}

.navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
    top: 35px;
}

.navbar a.nav-link {
    color: white !important;
}

.navbar li.user-dropdown a.nav-link p {
    color: white;
}

.navbar li.user-dropdown a.nav-link::after {
    display: none;
}

.navbar li.user-dropdown div.dropdown-menu {
    position: fixed;
    top: 35px;
    right: 0px;
    left: auto;
}

.table-container {
    width: 100%;
    overflow-y: auto;   
}

.bootstrap-select button span {
    color: black;
}

input[type='text'],
input[type='number'],
button.btn-outline-blue,
button.dropdown-toggle,
select,
textarea{
    background-color: white;
    /* border-color: #1360ad; */
}

.text-primary{
    color: #1360ad !important;
}

@media only screen and (max-width: 992px) {
    li.nav-item:not(.user-dropdown) {
        padding: 0px 10px;
        background: #186ba2;
    }
    li.nav-item:not(.user-dropdown) div.dropdown-menu {
        background-color: #184169;
    }
    li.nav-item:not(.user-dropdown) div.dropdown-menu a.dropdown-item {
        color: white;
    }
}