{% load static %}

<!-- Bootstrap -->
<link rel="stylesheet" href="{% static '/lib/bootstrap/css/bootstrap.min.css' %}" />

<!-- Fontawesome -->
<link rel="stylesheet" href="{% static '/lib/fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static '/lib/fontawesome/css/fontawesome.min.css' %}">

<!-- JQuery Confirm -->
<link rel="stylesheet" href="{% static '/lib/css/jquery-confirm.min.css' %}"/>

<!-- Logo -->
<link rel="icon" type="image/png" href="{% static 'images/logo_16x16.png' %}" sizes="20x16">
<link rel="icon" type="image/png" href="{% static 'images/logo_32x32.png' %}" sizes="40x32">
<link rel="icon" type="image/x-icon" href="{% static 'images/logo.ico' %}" >
<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo.ico' %}"/>

<link rel="stylesheet" href="{% static '/css/template.css' %}" />
