{% load static %}

<!-- JQuery -->
<script src="{% static '/lib/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static '/lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static '/lib/js/popper.min.js' %}"></script><!-- REQUIRED FOR BOOTSTRAP 4-->

<!-- Bootstrap -->
<script src="{% static '/lib/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- Fontawesome -->
<script src="{% static '/lib/fontawesome/js/all.min.js' %}"></script>
<script src="{% static '/lib/fontawesome/js/fontawesome.min.js' %}"></script>

<!-- JQuery Confirm -->
<script src="{% static '/lib/js/jquery-confirm.min.js' %}"></script>

<script src="{% static '/js/confirm.js'%}"></script>
<script src="{% static '/js/js.js'%}"></script>
