{% load static %}
<div class="container-fluid pb-5 mb-4">
    <nav class="navbar navbar-inverse navbar-expand-lg fixed-top navbar-dark">
        <a class="navbar-brand" href="/"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pedidos</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/list-order"><i class="fas fa-info-circle"></i> Detalles de los pedidos</a>
                        <button class="dropdown-item btn" onclick="search(orderLinks)" style="text-align: left;"><i class="fas fa-list"></i> Lista de pedidos</button>
                        <a class="dropdown-item" href="/create-order"><i class="fas fa-plus"></i> Crear pedido</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Artículos</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <button class="dropdown-item btn" onclick="search(itemLinksByOrder)" style="text-align: left;"><i class="fas fa-check"></i> Obtener artículos de un pedido</button>
                        <a class="dropdown-item" href="/create-item"><i class="fas fa-link"></i> Vincular artículo a un pedido</a>
                        <button class="dropdown-item btn" onclick="search(orderLinksAlt)" style="text-align: left;"><i class="fas fa-minus-circle"></i> Borrar artículo de un pedido</button>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>