{% extends "rest_framework/base.html" %}
{% load static %}

{% block head %}
{% include "imports/css.html" %}
<link rel="stylesheet" href="{% static '/css/rest_framework.css' %}" />
<link rel="stylesheet" href="{% static '/css/prettify.css' %}" />
{% endblock head %}

{% block navbar %}
{% include "imports/menu.html" %}
{% endblock navbar %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block body %}
{% for message in messages %}
    {% if forloop.last %}
        <input type="hidden" name="message" id="id_message" value="{{message}}" tag="{{message.tags}}">
    {% endif %}
{% endfor %}
{{ block.super }}
{% include "imports/modal.html" %}
{% endblock body %}

{% block script %}
{{ block.super }}
{% include "imports/js.html" %}
<script src="{% static '/js/searchOrders.js'%}"></script>
<script>
    $(document).ready(function(){
        filterHeader = $("#filtersModal div.modal-header");
        filterHeader.find("h4.modal-title").remove()
        filterHeader.prepend('<h4 class="modal-title">Filtros</h4>');
        $("#deleteModal form").append('<input name="method" type="hidden" value="'+$("#deleteModal form").data("method")+'"/>');
        deleteTitle = $("#deleteModal div.modal-body h4");
        deleteTitle.text(deleteTitle.text().replace("Are you sure you want to delete this", "¿Está seguro que desea eliminar este"));
    });
</script>
{% endblock script %}